html {
font-family: "Zen Antique", serif;
}

h1 {
    background-color: #00a7db;
    padding: 20px;
    border: 2px solid #3498db;
    width: 750px;
}

body {
    width: 750px;
}

img {
    display: block;
    margin: auto;
}
