html {
      font-family: "Zen Antique", serif;
}

body {
      margin: auto;
      width: 750px; /* 任意の幅を指定 */
}


h1 {
    color: #2b2b2b;
    font-size: 2.5rem;
    text-align: center;
    margin: 1.25rem auto;
    background-color: #00a7db;
    padding: 20px;
    border: 2px solid #3498db;
    width: 750px;
}

h2 {
    color: #2b2b2b;
    font-size: 2rem;
    text-align: center;
    margin: 1.25rem auto;
    background-color: #a0d8ef;
    padding: 10px;
    border: 2px solid #3498db;
    width: 750px;
}

img {
    display: block;
    margin: auto;
}

p {
   color: #2b2b2b;
}
